.moviePoster {
  max-width: 100%;
  border-radius: 12px;
}

.movieCard {
  min-width: 200px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 12px;
  max-width: 200px;
}

.movieCard:hover {
  cursor: pointer;
}

.movieName {
  font-weight: 600;
  margin-top: 8px;
  font-size: 18px;
  color: #fff;
}
