.movie {
  display: flex;

  justify-content: center;
  height: 100vh;
}
.movieBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.movieBlockContent {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
}

.moviePoster {
  max-height: 430px;
  border-radius: 16px;
  margin-right: 48px;
}

.movieAbout {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.movieTitle {
  color: #fff;
  font-weight: 700;
  font-size: 32px;
}
.movieAge {
  color: #fff;
  font-weight: 700;
  border: 1px solid #fff;
  border-radius: 12px;
  padding: 4px 8px;
  font-size: 24px;
}

.movieDesc {
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 24px;
}

.blockGenres {
  display: flex;
  width: min-content;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 16px;
}

.genre {
  color: #6b6a6a;
  font-size: 16px;
  font-weight: 400;
  margin-right: 12px;
}

.blockAboutSpan {
  display: flex;
  margin-bottom: 8px;
}

.aboutSpan {
  font-size: 18px;
  font-weight: 600;
  color: #6b6a6a;
  margin-right: 12px;
}
.aboutSpanT {
  font-size: 16px;
  font-weight: 500;
  color: #cecece;
  margin-right: 5px;
}

.moviePlayer {
  width: 80%;
  max-height: 720px;
  margin-bottom: 36px;
}

.movieBottomPart {
  min-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 64px;
}

.moviesBlockTitle {
  color: #fff;
  font-size: 38px;
  font-weight: 600;
  text-align: center;
}
.moviesBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 48px;
}

.moviesBlockWrapperOnline {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
}

.movieBlockContentParent {
  padding: 48px 0px 48px 0px;

  backdrop-filter: brightness(0.1);
  backdrop-filter: blur(5px); /* применение размытия к фону */
}
